@font-face {
  font-family: 'Coco Regular';
  src: local('Coco Regular'), url('./font/Coco-Regular.woff');
}

@font-face {
  font-family: 'Quicksand_Book';
  src: local('Quicksand_Book'), url('./font/Quicksand_Book.otf');
}

@font-face {
  font-family: 'Quicksand_Bold';
  src: local('Quicksand_Bold'), url('./font/Quicksand_Bold.otf');
}

@font-face {
  font-family: 'Quicksand_Dash';
  src: local('Quicksand_Dash'), url('./font/Quicksand_Dash.otf');
}

.wrapper {
  max-width: 960px;
  min-width: 650px;
  margin: 30px auto 0 auto;
}

header .container {
  padding: 0 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  width: 400px;
}

footer ul {
  width: 222px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-family: 'Quicksand_Book';
  text-shadow: 0.5px 0.9px 1px rgba(255, 255, 255, 0.75);
  font-size: 12px;
  text-decoration: none;
  color: #000000
}

nav a:hover {
  cursor: pointer;
  color: #969494
}

header .planetabhi {
  font-family: 'Coco Regular';
  font-size: 36px;
  letter-spacing: 1.8px;
  color: #000000;
}

.image {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 43.75%;
  width: 100%;
  height: 0;
  background-image: url("./img/scarlett-johansson-1440-x-900-36008_2020-01-14/scarlett-johansson-1440-x-900-36008@3x.png");
  background-size: 100% 100%;
}

.image__text {
  display: flex;
  margin: 0 0 4% 4%;
  flex-direction: column;
  width: 50%;
  text-align: left;
  color: #ffffff;
}

.image__text__header {
  font-family: 'Quicksand_Book';
  font-size: 45px;
  line-height: 1.32;
  margin-bottom: 11px;
}

.image__text__paragraph {
  font-family: 'Quicksand_Dash';
  font-size: 14px;
  line-height: 1.43;
}

.image__readmorebutton {
  width: 130px;
  height: 75px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: auto 9px 0 0;
}

.image__readmorebutton__text {
  font-family: 'Quicksand_Book';
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  margin: auto auto 15px auto;
}

.image__readmorebutton__circle {
  display: flex;
  position: absolute;
  top: 6px;
  width: 130px;
  height: 69px;
  border-radius: 64px 64px 0 0;
  background-color: black;
}

.image__readmorebutton__triangle {
  position: absolute;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.looks-items-trends {
  margin: 56px auto 0 0;
  display: flex;
  justify-content: space-evenly;
}

.looks-items-trends > div{
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand_Book';
}

.looks-items-trends__ico {
  object-fit: contain;
}

.looks-items-trends__heading {
  margin-top: 20px;
  text-shadow: 0.5px 0.9px 1px rgba(255, 255, 255, 0.75);
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  color: #221e1d;
}

.looks-items-trends__paragraph {
  margin-top: 10px;
  text-shadow: 0.5px 0.9px 1px rgba(255, 255, 255, 0.75);
  font-size: 12px;
  line-height: 1.67;
  text-align: justify;
  color: #363636;
}

.latest-blog {
 display: flex;
 flex-direction: column;
 margin-top: 60px;
}

.latest-blog__heading {
 display: flex;
 width: 100%;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.latest-blog__heading__hr {
  flex: 34%;
}

.latest-blog__heading__text {
 flex: 32%;
 text-align: center;
 font-family: 'Quicksand_Book';
 font-size: 24px;
 line-height: 0.83;
 letter-spacing: -1.2px;
 color: #221e1d;
}

.latest-blog__posts {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.latest-blog__posts__post {
  width: 31.25%;
  align-self: flex-start;
}

.latest-blog__posts__post > a{
  text-decoration: none;
}

.latest-blog__posts__post__image {
  background-color: black;
  width: 100%;
  height: 0;
  padding-top: 48%;
}

.latest-blog__posts__post__text {
  margin-top: 60px;
  font-family: 'Quicksand_Book';
  color: #000000;
}

.latest-blog__posts__post__text__heading {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.latest-blog__posts__post__text__date {
  margin-top: 24px;
  font-size: 13px;
  letter-spacing: -0.65px;
  text-align: center;
  color: #969494;
}

.latest-blog__posts__post__text__article {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  line-height: 1.67;
}

.latest-blog__posts__post__text__article__p {
  color: #221e1d;
}

.latest-blog__posts__post__text__article__readmore {
  color: #78958e;
}

.body__hr {
  margin-top: 70px;
  margin-bottom: 0;
}

footer {
  margin-top: 36px;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.footer__nav-share {
  display: flex;
  flex-direction: column;
}

.footer__nav-share__share {
  margin-top: 10px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Quicksand_Book';
}

#copyright__AbhimanyuRana {
  font-family: 'Quicksand_Bold';
}

.copyright :nth-child(1) {
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.copyright :nth-child(2) {
  font-size: 12px;
  line-height: 2;
  text-align: right;
  color: #969494;
}

#copyright__planetabhi {
  color: #78958e;
}