@font-face {
  font-family: 'Coco_Regular';
  src: url(./font/Coco_Regular.woff);
}

@font-face {
  font-family: 'MyriadPro_Regular';
  src: url(./font/MyriadPro_Regular.otf);
}

@font-face {
  font-family: 'Quicksand_Book';
  src: url(./font/Quicksand_Book.otf);
}

@font-face {
  font-family: 'Quicksand_Bold';
  src: url(./font/Quicksand_Bold.otf);
}

@font-face {
  font-family: 'Quicksand_Dash';
  src: url(./font/Quicksand_Dash.otf);
}

.page {
  margin: 30px auto 0 auto;
  max-width: 960px;
  min-width: 550px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.planetabhi {
  margin: 0;
  padding: 0;
  font-family: 'Coco_Regular';
  font-size: 36px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #000;
}

.nav {
  font-family: 'Quicksand_Book';
  .nav__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 12px;
    display: flex;
  }
  .nav__splitter {
    margin: 0 11px;
  }
  .nav__link {
    text-shadow: 0.5px 0.9px 1px rgba(255, 255, 255, 0.75);
    color: #000;
    text-decoration: none;
  }
  .nav__link:hover {
    color: #969494
  }
}

.picture {
  margin-bottom: 50px;
  display: flex;
  position: relative;
  .picture__img {
    width: 100%;
    object-fit: contain;
  }
  .picture__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: unset;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
  }
  .picture__title {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: left;
    flex: 50%;
    // padding: 0 0 5% 5%;
  }
  .picture__heading {
    font-family: 'Quicksand_Book';
    font-size: 45px;
    line-height: 1.32;
  }
  .picture__text {
    font-family: 'Quicksand_Dash';
    font-size: 14px;
    line-height: 1.43;
  }
  .picture__button {
    width: 130px;
    height: 75px;
    background-color: #000;
    flex: 10%;
  }
}

.looks-items-trends {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  .looks-items-trends__title {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-family: 'Quicksand_Book';
  text-shadow: 0.5px 0.9px 1px rgba(255, 255, 255, 0.75);
  .title__heading {
    font-size: 20px;
    line-height: 1.8;
    color: #221e1d;
    margin: 20px 0 10px 0;
  }
  .title__text {
    font-size: 12px;
    line-height: 1.67;
    color: #363636;
  }
}

.heading-separator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .heading-separator__text {
    font-family: 'Quicksand_Book';
    font-size: 24px;
    line-height: 0.83;
    letter-spacing: -1.2px;
    text-align: center;
    color: #221e1d;
  }
  .heading-separator__line {
    height: 1px;
    width: 34%;
    background-color: #000;
  }
}

.latest-posts {
  margin-bottom: 65px;
  .latest-posts__container {
    display: flex;
    justify-content: space-around;
  }
  .latest-posts__post {
    width: 31.25%;
  }
  .latest-posts__img {
    width: 100%;
    height: 0;
    padding-top: 48%;
    background-color: #000;
    margin-bottom: 50px;
  }
  .latest-posts__title {
    text-align: center;
    font-family: 'Quicksand_Book';
  }
  .latest-posts__heading {
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .latest-posts__date {
    color: #969494;
    font-size: 13px;
    letter-spacing: -0.65px;
    margin-bottom: 20px;
  }
  .latest-posts__excerpt {
    color: #221e1d;
    font-size: 12px;
    line-height: 1.67;
  }
  .latest-posts__read-more {
    color: #78958e;
  }
}

.footer-separator {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.footer {
  margin: 35px 0 0 0;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.nav-share {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Quicksand_Book';
  color: #000;
  font-size: 12px;
  line-height: 2;
  text-align: right;
  .copyright__copyright-sign {
    font-family: 'MyriadPro_Regular';
  }
  .copyright__bold-text {
    font-family: 'Quicksand_Bold';
  }
  .copyright__second-row {
    color: #969494;
  }
  .copyright__second__planetabhi {
    color: #78958e;
  }
}